// Foundation
@import './foundation.min.css';

// Materialize
    // Color
@import "../node_modules/materialize-css/sass/components/color-variables";
@import "../node_modules/materialize-css/sass/components/color-classes";

    // Custom variables;
@import "./custom_variables";

    // Variables
@import "../node_modules/materialize-css/sass/components/variables";

    // Reset
@import "../node_modules/materialize-css/sass/components/normalize";

    // components
@import "../node_modules/materialize-css/sass/components/global";
@import "../node_modules/materialize-css/sass/components/badges";
@import "../node_modules/materialize-css/sass/components/icons-material-design";
@import "../node_modules/materialize-css/sass/components/grid";
@import "../node_modules/materialize-css/sass/components/navbar";
@import "../node_modules/materialize-css/sass/components/typography";
@import "../node_modules/materialize-css/sass/components/transitions";
@import "../node_modules/materialize-css/sass/components/cards";
@import "../node_modules/materialize-css/sass/components/toast";
@import "../node_modules/materialize-css/sass/components/tabs";
@import "../node_modules/materialize-css/sass/components/tooltip";
@import "../node_modules/materialize-css/sass/components/buttons";
@import "../node_modules/materialize-css/sass/components/dropdown";
@import "../node_modules/materialize-css/sass/components/waves";
@import "../node_modules/materialize-css/sass/components/modal";
@import "../node_modules/materialize-css/sass/components/collapsible";
@import "../node_modules/materialize-css/sass/components/chips";
@import "../node_modules/materialize-css/sass/components/materialbox";
@import "../node_modules/materialize-css/sass/components/forms/forms";
@import "../node_modules/materialize-css/sass/components/table_of_contents";
@import "../node_modules/materialize-css/sass/components/sidenav";
@import "../node_modules/materialize-css/sass/components/preloader";
@import "../node_modules/materialize-css/sass/components/slider";
@import "../node_modules/materialize-css/sass/components/carousel";
@import "../node_modules/materialize-css/sass/components/tapTarget";
@import "../node_modules/materialize-css/sass/components/pulse";
@import "../node_modules/materialize-css/sass/components/datepicker";
@import "../node_modules/materialize-css/sass/components/timepicker";

// Navbar
#back-to-projects-list-btn {
    padding: 0 1rem;
    border-radius: 50%;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
}

// Main
.content {
    margin-top: 4.5rem;
    .grid-x {
        height: 100%;
    }
}

// Projects list
.projects-list {
    position: relative;
    .project-name {
        font-weight: bold;
    }
}

.project {
    padding: 1rem;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
        background-color: #eceff1;
    }
}

.project-description {
    color: #9e9e9e;
    margin-bottom: 0;
}

#new-project-btn {
    display: flex;
    padding: 1rem;
    color: #757575;
    cursor: pointer;
    transition: all 0.4s;
    a {
        color: inherit;
    }
}

#add-project-btn {
    position: fixed;
    bottom: 1.4rem;
    right: 1.4rem;
}

.modal {
    .modal-content {
        padding-bottom: 0;
    }
    .input-field {
        margin: 2rem 0 0;
    }
}

// Project page
.project-page {
    position: relative;
    padding: 0 0.5rem;
    .collapsible {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .collapsible-header {
        position: relative;
    }
    .collapsible-header:after {
        position: absolute;
        right: 0.5rem;
        top: 0.6rem;
        font-family: 'Material Icons';
        font-size: 1.6rem;
        color: #5a5a5a;
        content: "arrow_drop_down";
    }
    .collapsible-body {
        padding: 1rem;
    }
}

.placeholder-page {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: white;
    color: #757575;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    p {
        margin: 0.5rem 0;
    }
}

.project-page-header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    h4 {
        word-break: break-all;
    }
}

.importance {
    background-image: url(img/importance_empty.svg);
    background-position: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}

.importance.important {
    background-image: url(img/importance_important.svg)
}

.important path{
    fill: #ffeb3b;
}

.todo.completed {
    .collapsible-header {
        background-color: #b9f6ca;
    }
    .collapsible-body {
        background-color: #b9f6ca48;
    }
}

.drop-down-indicator {
    margin-left: auto;
    color: #5a5a5a;
}

#new-todo-btn {
    text-transform: initial;
}

#delete-todo-btn {
    margin-left: 0.5rem;
}

.project-btn {
    line-height: 2rem;
    border-radius: 50%;
    padding: 0.3rem 0.5rem 0;
    margin-left: 0.5rem;
    min-width: 2rem;
    i{
        font-size: 1.5rem;
    } 
}

.todo-btn {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.7rem;
    margin-left: 0.5rem;
    i{
        font-size: 1.5rem;
    } 
}

.todo-btns {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0;
}


// Media queries 
    /* Large and up */
@media screen and (min-width: 64em) {
    .brand-logo {
        margin-left: 1rem;
    }
}

    /* Medium and up */
@media screen and (min-width: 40em) {
    .projects-list {
        border-right: 1px solid #e0e0e0;
    }

    .project-active {
    background-color: #eceff1;

    .project-page {
        display: initial;
    }
}
}

    /* Small only */
@media screen and (max-width: 39.9375em) {
    .grid-container {
        padding: 0;
    }

    .content {
        margin-top: 4rem;
    }

    .project-page {
        display: none;
    }

    .show {
        display: initial;
    }
}